# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
scratch.py
.python-version
.prql-history.txt
*.db
.DS_store
docs/_build
Session.vim*
coverage.xml
.coverage
.ipynb_checkpoints
dist
.dmypy.json