[tool.poetry]
authors = [
  "Charlie Sanders <charlie.fats@gmail.com>",
  "rbpatt2019 <rb.patterson.cross@gmail.com>",
  "PRQL Team",
]
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Typing :: Typed",
]
description = "Python extensions for PRQL"
homepage = "https://prql-lang.org"
license = "Apache-2.0"
name = "pyprql"
readme = "README.md"
repository = "https://github.com/prql/pyprql"
version = "0.5.13"

[tool.poetry.dependencies]
python = "^3.8"

Pygments = "^2.11.2"
SQLAlchemy = "^1.4.32"
click = "^8.0.4"
duckdb-engine = "^0.6.5"
fuzzyfinder = "^2.1.0"
icecream = "^2.1.2"
ipython = "^8.0"
jupysql = "^0.5.1"
jupyter = "^1.0.0"
numpy = "^1.22.3"
pandas = "^1.4"
prompt-toolkit = "^3.0.28"
prql-python = "^0.3"
pytest = "^7.1.2"
rich = "^12.0.0"
traitlets = "^5.2.0"

[tool.poetry.dev-dependencies]
Sphinx = "~4.3"
black = "^22.1.0"
commitizen = "^2.21.2"
coverage = "^6.3.2"
darglint = "^1.8.1"
flake8 = "^4.0.1"
flake8-annotations = "^2.7.0"
flake8-docstrings = "^1.6.0"
flake8-pytest-style = "^1.6.0"
isort = "^5.10.1"
mypy = "^0.982"
myst-parser = "^0.17.0"
nox = "^2022.1.7"
pre-commit = "^2.17.0"
pytest = "^7.0.1"
pytest-clarity = "^1.0.1"
pytest-cov = "^3.0.0"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.5.0"
python-semantic-release = "^7.32.2"
safety = "^2"
sphinx-rtd-theme = "^1.0.0"
xdoctest = "^0.15.10"

[tool.poetry.scripts]
pyprql = "pyprql.cli.__init__:main"

[tool.semantic_release]
branch = "main"
build_command = "poetry build"
changelog_file = "CHANGELOG.md"
upload_to_pypi = true
upload_to_release = true
version_toml = [
  "pyproject.toml:tool.poetry.version",
]
version_variable = [
  "pyprql/__init__.py:__version__",
]

[tool.pytest.ini_options]
addopts = """
--xdoctest
"""

[tool.coverage.run]
branch = true
source = ["pyprql"]

[tool.coverage.report]
show_missing = true

[tool.isort]
float_to_top = false
profile = "black"
skip_gitignore = true

[tool.mypy]
disable_error_code = ["union-attr", 'operator']
files = "pyprql"
# TODO: ideally we would list the modules that aren't yet typed
ignore_missing_imports = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.3.0"]

[tool.ruff]
fix = true
ignore = [
  # Line length — black handles
  "E5", #
  # No lambdas — too strict
  "E731",
]
