name: release
on:
  workflow_dispatch:

jobs:
  prep-release:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Cache Pip
        uses: actions/cache@v5
        with:
          path: ~/.pip
          key: ${{ runner.os }}-pip
          restore-keys: ${{ runner.os }}-pip

      - run: poetry install

      - name: Configure git
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'gha@prql-lang.org'

      - name: Python Semantic Release
        env:
          GH_TOKEN: ${{ secrets.PRQL_BOT_GITHUB_TOKEN }}
        run: |
          poetry run semantic-release --verbose version --skip-build --no-vcs-release
          poetry build

      - name: Upload dist
        uses: actions/upload-artifact@v7
        with:
          name: dist
          path: dist

  create-release:
    needs: prep-release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
